/* Fonts */
@font-face {
 font-family: 'Product-Sans';
 src: url('/fonts/Product-Sans.woff2') format("woff2"),
    url('/fonts/Product-Sans.woff') format("woff"),
    url('/fonts/Product-Sans.ttf') format("ttf");
}


/* Common properties */
body {
    margin: 0;
}

.btn {
    color: #ffffff;
    padding: 12px 48px;
    border-radius: 5px;
    background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;

}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

h1 {
    font-family: 'Product-Sans', sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.fa {
  color: inherit;
  padding-left: 5px;
}

/* Header Start */

header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    margin-right: 10px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    position: relative;
    
    
}

.right-side {
    margin-left: 200px;
    background-image: url(../img/medal.svg);
    background-position: 10% center;
    background-repeat: no-repeat;
    padding: 12px 48px;
}
.submenu {
    display: none;
    list-style-type: none;
    position: absolute;
    padding: 0;
    padding-top: 5px;
    background-color: white;
}


li:hover .submenu {
    display: block;
}

/* Header End*/

/* Promo start */

.promo {
    max-width: 399px;
    margin-left: 165px;
    margin-bottom: 165px;
    margin-top: 175px;
}

.promo-background {
    max-height: 700px;
    background-image: linear-gradient(90deg, #FFFCEB 0%, #EAFFFE 100%);
    padding: 0;
    margin-bottom: 110px;
    z-index: 1;
    /* margin-right: 0; */
}

.text-promo {
    max-width: 382px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
}

.btn-promo {
    font-size: 18px;
    padding: 20px 58px;
}

/* Promo end */

/* Main content start */

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-left: auto;
    margin-right: 227px; */
    margin-bottom: 70px;
}

.main-content-text-container {
    max-width: 470px;
    margin-left: 9%;
    margin-right: 9%;
}

.main-content-image-container {
    max-width: 442px;
    max-height: 436px;
    background-image: url(../img/main-content-background.svg);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    padding: 81px;
    padding-bottom: 0;
}

.main-content-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 26px;
}

.main-content h2 {
    padding-top: 20px;
}

.btn-main-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: underline;                                               /* not working for some reason: to fix later */
    background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}

/* Main content end */


.courses {
    display: flex;
    list-style-type: none;
    margin-bottom: 113px;
}

.courses-heading {
    text-align: center;
}

/* Media */
/* Show in Large desktops and laptops */
@media (min-width: 1200px) {

.bgimg {
        background-image: url(../img/background-promo.svg);
        background-repeat: no-repeat;
        background-position: 75% center;
        z-index: 2;
    }

}

/*Hide in Other Small Devices */


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

      .bgimg {
        background-image: none;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

          .bgimg {
        background-image: none;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

          .bgimg {
        background-image: none;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

          .bgimg {
        background-image: none;
    }

}

