/* Fonts */
@font-face {
 font-family: 'Product-Sans';
 src: url('/fonts/Product-Sans.woff2') format("woff2"),
    url('/fonts/Product-Sans.woff') format("woff"),
    url('/fonts/Product-Sans.ttf') format("ttf");
}


/* Common properties */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.btn {
    color: #ffffff;
    padding: 12px 48px;
    border-radius: 5px;
    background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
    transition: 0.3s ease;
}

.btn:hover{
    color: #ffffff;
    background: linear-gradient(90deg, #35e7e1 0%, #4354f0 104.29%);
    transition: 0.3s ease;
}

.btn:active{
    color: #ffffff;
    background: linear-gradient(90deg, #08d3cc 0%, #1a2fe6 104.29%);
    transition: 0.3s ease;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;

}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    transition: 0.3s ease;
}

a:hover {
    color: #7A88FF;
    transition: 0.3s ease;
}

a:active {
    color: #0318d1;
    transition: 0.3s ease;
}

h1 {
    font-family: 'Product-Sans', sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.fa {
  color: inherit;
  padding-left: 5px;
}

/* Header Start */

header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    margin-right: 10px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    position: relative;
    
    
}

.right-side {
    margin-left: 200px;
    background-image: url(../img/medal.svg);
    background-position: 10% center;
    background-repeat: no-repeat;
    padding: 12px 48px;
}

.right-side:hover {
    color: #7A88FF;
    filter: saturate(0.60);
    transition: 0.3s ease;
}

.right-side:active {
    color: #7A88FF;
    filter: invert(0.60);
    transition: 0.3s ease;
}

.submenu {
    display: none;
    list-style-type: none;
    position: absolute;
    padding: 0;
    padding-top: 5px;
    background-color: white;
    /* border-bottom: 1px solid gray; */
}

/* .submenu li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
} */

li:hover .submenu {
    display: block;
}

/* Header End*/

/* Promo start */

.promo {
    max-width: 399px;
    margin-left: 11%;
    margin-bottom: 165px;
    margin-top: 175px;
}

.promo-background {
    max-height: 20%;
    overflow: hidden;
    background-image: linear-gradient(90deg, #FFFCEB 0%, #EAFFFE 100%);
    padding: 0;
    margin-bottom: 110px;
    z-index: 1;
}

.text-promo {
    max-width: 382px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
}

.btn-promo {
    font-size: 18px;
    padding: 20px 58px;
}

/* Promo end */

/* Main content start */

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-left: auto;
    margin-right: 227px; */
    margin-bottom: 70px;
}

.main-content-text-container {
    max-width: 470px;
    margin-left: 9%;
    margin-right: 9%;
}

.main-content-image-container {
    max-width: 442px;
    max-height: 436px;
    background-image: url(../img/main-content-background.svg);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    padding: 81px;
    padding-bottom: 0;
}

.main-content-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 26px;
}

.main-content h2 {
    padding-top: 20px;
}

.btn-main-content {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: underline;                                               /* not working for some reason: to fix later */
    background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}

.btn-main-content:hover {
    background: linear-gradient(90deg, #35e7e1 0%, #4354f0 104.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.3s ease;
}

.btn-main-content:active {
    background: linear-gradient(90deg, #08d3cc 0%, #1a2fe6 104.29%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.3s ease;
}


/* Main content end */




.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 73px;
}

.cards-image-container {
    display: flex;
    background: #FFF5F6;
    border-radius: 4px; 
    width: 261px;
    height: 240px;
    padding-bottom: 5px;
}

.card-2 {
    background: #FFFCEB;
}

.card-3 {
    background: #EBFFF4;
}

.cards-text-container {
    width: 230px;
    margin-bottom: 40px;
}

.cards-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-bottom: 18px;
}

.card {
    margin-right: 20px;
}

.cards-logo {
    margin-right: auto;
    margin-left: auto;
    vertical-align: center;
    width: 65%;
}

.logo-android {
    width: 50%;
}



.cards-heading {
    text-align: center;
    padding-bottom: 30px;
}










/* Media */
/* Show in Large desktops and laptops */

@media (min-width: 1921px) {
.bgimg {
        background-image: url(../img/background-promo.svg);
        background-repeat: no-repeat;
        background-position: 65% 50%;
        z-index: 2;
    }

}

@media (min-width: 1441px) and (max-width: 1920px) {

.bgimg {
        background-image: url(../img/background-promo.svg);
        background-repeat: no-repeat;
        background-position: 75% 50%;
        z-index: 2;
    }

}

@media (min-width: 1200px) and (max-width: 1440px) {

.bgimg {
        background-image: url(../img/background-promo.svg);
        background-repeat: no-repeat;
        background-position: 95% 50%;
        z-index: 2;
    }

}


/*Hide in Other Small Devices */


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

      .bgimg {
        background-image: none;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

          .bgimg {
        background-image: none;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

          .bgimg {
        background-image: none;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

          .bgimg {
        background-image: none;
    }

}

