/* Fonts */
@font-face {
 font-family: 'Product-Sans';
 src: url('/fonts/Product-Sans.woff2') format("woff2"),
    url('/fonts/Product-Sans.woff') format("woff"),
    url('/fonts/Product-Sans.ttf') format("ttf");
}


/* Common properties */
body {
    margin: 0;
}

.btn {
    color: #ffffff;
    padding: 12px 48px;
    border-radius: 5px;
    background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;

}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

h1 {
    font-family: 'Product-Sans', sans-serif;
    font-size: 56px;
}

/* Header Start */

header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    margin-right: 10px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    position: relative;
    
    
}

.right-side {
    margin-left: 200px;
    background-image: url(../img/medal.svg);
    background-position: 10% center;
    background-repeat: no-repeat;
    padding: 12px 48px;
}
.submenu {
    display: none;
    list-style-type: none;
    position: absolute;
    padding: 0;
    padding-top: 5px;
    background-color: white;
}


li:hover .submenu {
    display: block;
}

/* Header End*/

/* Promo start */

.promo {
    max-width: 399px;
    margin-left: 165px;
    margin-bottom: 165px;
    margin-top: 175px;
}

.promo-background {
    max-height: 700px;
    background-image: url(../img/background-promo.svg), linear-gradient(90deg, #FFFCEB 0%, #EAFFFE 100%);
    background-repeat: no-repeat;
    background-position: 75% center;
    padding: 0;
    margin-bottom: 140px;
}

.text-promo {
    max-width: 382px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
}

.btn-promo {
    font-size: 18px;
    padding: 20px 58px;
}

/* Promo end */

.main-content {
    max-width: 470px;
    margin-left: auto;
    margin-right: 227px;
    margin-bottom: 165px;
}



.section-courses {
    display: flex;
    list-style-type: none;
    margin-bottom: 113px;
}

.section-courses-heading {
    text-align: center;
}

.fa {
  /* font-family: "FontAwesome"; */
  color: inherit;
  padding-left: 5px;
}